* {
  font-family: 'Concert One', cursive;
  color: #433f46;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0edea;
}

#content {
  height: 700px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#title,
h1 {
  font-size: 60px;
}

#new-btn,
#play-again-btn {
  margin: 50px;
  padding: 10px;
  font-size: 25px;
  background-color: #f0dbea;
}

.board-space {
  /* border: 1px solid black; */
  height: 125px;
  width: 87px;
  /* padding: 5px 30px; */
  margin: 5px 30px;
  z-index: 10;
}

.counter-div {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter {
  font-size: 50px;
}

.card-div {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline-block;
  z-index: 10;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-face img {
  height: 125px;
  width: 87px;
}

.card-back {
  z-index: 2;
}

.card-front {
  z-index: 1;
}

.unflipped {
  /* border: 1px solid green; */
}

.flipped {
  /* border: 1px solid red; */
}

div.flipped > .card-back {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

div.unflipped > .card-back {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3;
}

.card-back {
  transition-property: opacity;
  transition-duration: 1s;
}

#win-div {
  position: relative;
  z-index: 20;
  top: -525px;
  width: 350px;
  height: 350px;
  background-color: #bcaf9c;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
