* {
  font-family: 'Concert One', cursive;
  margin: 0px;
  padding: 0px;
  sizing: border-box;
}

#content {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#title {
  font-size: 60px;
}

#new-btn {
  margin: 50px;
  padding: 10px;
  font-size: 25px;
}

.board-space {
  border: 1px solid black;
  height: 125px;
  width: 87px;
  margin: 5px 30px;
  z-index: 10;
  /* display: flex; */
}

/* .board-space img {
  width: 100%;
} */

.counter-div {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  display: flex;
}

.card-div {
  width: 100%;
  height: 100%;
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
}

.card-face {
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  position: absolute;
}

.card-face img {
  /* display: inline-block; */
  height: 125px;
  width: 87px;
}

.card-back {
  z-index: 2;
}

.card-front {
  /* position: relative;
  top: -127px; */
  z-index: 1;
}

.unflipped {
  /* border: 1px solid green; */
}

.flipped {
  /* border: 1px solid red; */
}

div.flipped > .card-back {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

div.unflipped > .card-back {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3;
}

.card-back {
  transition-property: opacity;
  transition-duration: 1s;
}
